################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BasicCRUDText/bin/Debug/net6.0
/BasicCRUDText/obj
